 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 683px;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 60px 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 626px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 700;
  font-size: 2.5rem;
}

.u-section-1 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-1 .u-text-3 {
  margin: 20px 440px 0 0;
}

.u-section-1 .u-text-4 {
  margin: 20px 334px 0 0;
}

.u-section-1 .u-text-5 {
  margin: 20px 428px 0 0;
}

.u-section-1 .u-text-6 {
  margin: 20px 11px 0 0;
}

.u-section-1 .u-text-7 {
  margin: 20px 457px 0 0;
}

.u-section-1 .u-text-8 {
  margin: 21px 360px 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 626px;
  background-image: none;
  --radius: 50px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-9 {
  text-transform: none;
  margin: 44px 0 0;
}

.u-section-1 .u-form-1 {
  height: 344px;
  width: 510px;
  margin: 30px 0 0;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-btn-1 {
  --radius: 50px;
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  border-style: solid;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 468px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 516px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 340px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 234px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 328px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-right: 357px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 260px;
  }

  .u-section-1 .u-text-9 {
    width: auto;
  }

  .u-section-1 .u-form-1 {
    width: 410px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 124px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 230px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 124px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 218px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 247px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 150px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 643px;
  }

  .u-section-1 .u-form-1 {
    width: 300px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 224px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 473px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-right: 0;
    margin-left: 10px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 134px;
    margin-left: 10px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 228px;
    margin-left: 10px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 257px;
    margin-left: 10px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 160px;
    margin-left: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 554px;
  }

  .u-section-1 .u-form-1 {
    height: 355px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1297px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 30px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 38px;
    margin-left: 0;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-left: 0;
    margin-right: 67px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 692px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 241px;
}

.u-section-2 .u-text-1 {
  margin: 31px 0 0;
}

.u-section-2 .u-text-2 {
  margin: 14px 0 0;
}

.u-section-2 .u-text-3 {
  margin: 14px 0 31px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    width: auto;
  }

  .u-section-2 .u-text-2 {
    width: auto;
  }

  .u-section-2 .u-text-3 {
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-top: 87px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 319px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 31px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 132px;
}

.u-section-3 .u-btn-1 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  border-style: solid;
  --radius: 50px;
  margin: 30px auto;
  padding: 19px 31px 20px 29px;
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 351px;
}

.u-section-4 .u-image-1 {
  width: 300px;
  height: 58px;
  margin: 60px auto 0;
}

.u-section-4 .u-text-1 {
  font-size: 3.75rem;
  text-transform: uppercase;
  font-weight: 900;
  margin: 29px 0 60px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 423px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 350px;
  }

  .u-section-4 .u-text-1 {
    font-size: 3rem;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 249px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 263px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 132px;
}

.u-section-5 .u-btn-1 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  border-style: solid;
  margin: 30px auto;
  padding: 19px 31px 20px 29px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-btn-1 {
    margin-top: 32px;
    margin-bottom: 28px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 133px;
  }

  .u-section-5 .u-btn-1 {
    font-size: 1rem;
    margin-bottom: 32px;
    padding-right: 14px;
    padding-bottom: 21px;
    padding-left: 13px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 274px;
}

.u-section-6 .u-text-1 {
  margin: 31px 0 0;
}

.u-section-6 .u-text-2 {
  font-size: 1.125rem;
  margin: 26px 0 60px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 319px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: 32px;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-left: 1px;
    margin-right: 1px;
    margin-bottom: 32px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-2 {
    font-size: 1rem;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 998px;
}

.u-section-7 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  margin-top: 28px;
  margin-bottom: 28px;
}

.u-section-7 .u-repeater-1 {
  grid-template-columns: repeat(3, 33.3333%);
  min-height: 942px;
  --gap: 0px;
  grid-auto-columns: 33.3333%;
}

.u-section-7 .u-image-1 {
  background-image: url("images/socialmedia.jpg");
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-7 .u-text-1 {
  text-transform: uppercase;
  margin: 215px 0 0;
}

.u-section-7 .u-text-2 {
  margin: 24px 0 0;
}

.u-section-7 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  text-transform: uppercase;
  margin: 27px auto 0 0;
  padding: 2px 0;
}

.u-section-7 .u-image-2 {
  background-image: url("images/ScreenShot202s3-10-28at20.01copy.jpg");
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-7 .u-text-3 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 215px 0 0;
}

.u-section-7 .u-text-4 {
  font-size: 1.125rem;
  margin: 24px 0 0;
}

.u-section-7 .u-btn-2 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  text-transform: uppercase;
  margin: 27px auto 0 0;
  padding: 2px 0;
}

.u-section-7 .u-image-3 {
  background-image: url("images/animation.jpg");
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-7 .u-text-5 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 215px 0 0;
}

.u-section-7 .u-text-6 {
  font-size: 1.125rem;
  margin: 24px 0 0;
}

.u-section-7 .u-btn-3 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  text-transform: uppercase;
  margin: 27px auto 0 0;
  padding: 2px 0;
}

.u-section-7 .u-image-4 {
  background-image: url("images/Videoediting.jpg");
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-4 {
  padding: 20px 30px;
}

.u-section-7 .u-text-7 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 215px 0 0;
}

.u-section-7 .u-text-8 {
  font-weight: 400;
  font-size: 1.125rem;
  margin: 24px 0 0;
}

.u-section-7 .u-btn-4 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  text-transform: uppercase;
  margin: 27px auto 0 0;
  padding: 2px 0;
}

.u-section-7 .u-image-5 {
  background-image: url("images/photography.jpg");
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-5 {
  padding: 20px 30px;
}

.u-section-7 .u-text-9 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 215px 0 0;
}

.u-section-7 .u-text-10 {
  font-size: 1.125rem;
  margin: 24px 0 0;
}

.u-section-7 .u-btn-5 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  text-transform: uppercase;
  margin: 27px auto 0 0;
  padding: 2px 0;
}

.u-section-7 .u-image-6 {
  background-image: url("images/ScreenShot2023-10-28at20.01copy.jpg");
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-6 {
  padding: 20px 30px;
}

.u-section-7 .u-text-11 {
  text-transform: uppercase;
  margin: 215px 0 0;
}

.u-section-7 .u-text-12 {
  font-size: 1.125rem;
  margin: 24px 0 0;
}

.u-section-7 .u-btn-6 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  text-transform: uppercase;
  margin: 27px auto 0 0;
  padding: 2px 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-repeater-1 {
    min-height: 939px;
    grid-gap: 0px;
    grid-auto-columns: 33.333333333333336%;
  }

  .u-section-7 .u-text-1 {
    width: auto;
    margin-top: 238px;
  }

  .u-section-7 .u-text-2 {
    width: auto;
    margin-top: 11px;
  }

  .u-section-7 .u-btn-1 {
    margin-top: 35px;
  }

  .u-section-7 .u-text-3 {
    width: auto;
    font-size: 1.25rem;
    margin-top: 238px;
  }

  .u-section-7 .u-text-4 {
    font-size: 1rem;
    width: auto;
    margin-top: 11px;
  }

  .u-section-7 .u-btn-2 {
    margin-top: 35px;
  }

  .u-section-7 .u-text-5 {
    width: auto;
    font-size: 1.25rem;
    margin-top: 238px;
  }

  .u-section-7 .u-text-6 {
    font-size: 1rem;
    width: auto;
    margin-top: 11px;
  }

  .u-section-7 .u-btn-3 {
    margin-top: 35px;
  }

  .u-section-7 .u-text-7 {
    width: auto;
    font-size: 1.25rem;
    margin-top: 238px;
  }

  .u-section-7 .u-text-8 {
    font-size: 1rem;
    width: auto;
    margin-top: 11px;
  }

  .u-section-7 .u-btn-4 {
    margin-top: 35px;
  }

  .u-section-7 .u-text-9 {
    width: auto;
    font-size: 1.25rem;
    margin-top: 238px;
  }

  .u-section-7 .u-text-10 {
    font-size: 1rem;
    width: auto;
    margin-top: 11px;
  }

  .u-section-7 .u-btn-5 {
    margin-top: 35px;
  }

  .u-section-7 .u-text-11 {
    width: auto;
    margin-top: 238px;
  }

  .u-section-7 .u-text-12 {
    font-size: 1rem;
    width: auto;
    margin-top: 11px;
  }

  .u-section-7 .u-btn-6 {
    margin-top: 35px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1429px;
  }

  .u-section-7 .u-list-1 {
    margin-bottom: 32px;
  }

  .u-section-7 .u-repeater-1 {
    min-height: 1340px;
    grid-template-columns: repeat(2, 50%);
    grid-auto-columns: 50%;
  }

  .u-section-7 .u-btn-1 {
    margin-top: 36px;
  }

  .u-section-7 .u-btn-2 {
    margin-top: 36px;
  }

  .u-section-7 .u-btn-3 {
    margin-top: 36px;
  }

  .u-section-7 .u-btn-4 {
    margin-top: 36px;
  }

  .u-section-7 .u-btn-5 {
    margin-top: 36px;
  }

  .u-section-7 .u-btn-6 {
    margin-top: 36px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-list-1 {
    margin-bottom: 28px;
  }

  .u-section-7 .u-repeater-1 {
    min-height: 3882px;
    grid-template-columns: 100%;
    grid-auto-columns: 100%;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-text-1 {
    margin-top: 367px;
  }

  .u-section-7 .u-text-2 {
    margin-top: 9px;
  }

  .u-section-7 .u-btn-1 {
    margin-top: 28px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-text-3 {
    margin-top: 367px;
  }

  .u-section-7 .u-text-4 {
    margin-top: 9px;
  }

  .u-section-7 .u-btn-2 {
    margin-top: 28px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-text-5 {
    margin-top: 367px;
  }

  .u-section-7 .u-text-6 {
    margin-top: 9px;
  }

  .u-section-7 .u-btn-3 {
    margin-top: 28px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-text-7 {
    margin-top: 367px;
  }

  .u-section-7 .u-text-8 {
    margin-top: 9px;
  }

  .u-section-7 .u-btn-4 {
    margin-top: 28px;
  }

  .u-section-7 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-text-9 {
    margin-top: 367px;
  }

  .u-section-7 .u-text-10 {
    margin-top: 9px;
  }

  .u-section-7 .u-btn-5 {
    margin-top: 28px;
  }

  .u-section-7 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-text-11 {
    margin-top: 367px;
  }

  .u-section-7 .u-text-12 {
    margin-top: 9px;
  }

  .u-section-7 .u-btn-6 {
    margin-top: 28px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 2532px;
  }

  .u-section-7 .u-list-1 {
    margin-bottom: 32px;
  }

  .u-section-7 .u-repeater-1 {
    min-height: 2476px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-top: 10px;
    padding-bottom: 70px;
  }

  .u-section-7 .u-text-1 {
    margin-top: 0;
    margin-right: auto;
  }

  .u-section-7 .u-text-2 {
    margin-top: 7px;
  }

  .u-section-7 .u-btn-1 {
    margin-top: 14px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-top: 10px;
    padding-bottom: 70px;
  }

  .u-section-7 .u-text-3 {
    margin-top: 0;
  }

  .u-section-7 .u-text-4 {
    font-size: 1.125rem;
    margin-top: 7px;
  }

  .u-section-7 .u-btn-2 {
    margin-top: 14px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-top: 10px;
    padding-bottom: 70px;
  }

  .u-section-7 .u-text-5 {
    margin-top: 0;
    margin-right: auto;
  }

  .u-section-7 .u-text-6 {
    font-size: 1.125rem;
    margin-top: 7px;
  }

  .u-section-7 .u-btn-3 {
    margin-top: 14px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-top: 10px;
    padding-bottom: 70px;
  }

  .u-section-7 .u-text-7 {
    margin-top: 0;
    margin-right: auto;
  }

  .u-section-7 .u-text-8 {
    font-size: 1.125rem;
    margin-top: 7px;
  }

  .u-section-7 .u-btn-4 {
    margin-top: 14px;
  }

  .u-section-7 .u-container-layout-5 {
    padding-top: 10px;
    padding-bottom: 70px;
  }

  .u-section-7 .u-text-9 {
    margin-top: 0;
    margin-right: auto;
  }

  .u-section-7 .u-text-10 {
    font-size: 1.125rem;
    margin-top: 7px;
  }

  .u-section-7 .u-btn-5 {
    margin-top: 14px;
  }

  .u-section-7 .u-container-layout-6 {
    padding-top: 10px;
    padding-bottom: 70px;
  }

  .u-section-7 .u-text-11 {
    margin-top: 0;
    margin-right: auto;
  }

  .u-section-7 .u-text-12 {
    font-size: 1.125rem;
    margin-top: 7px;
  }

  .u-section-7 .u-btn-6 {
    margin-top: 14px;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 132px;
}

.u-section-8 .u-text-1 {
  font-size: 3.75rem;
  margin: 30px 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-text-1 {
    width: auto;
    margin-left: 32px;
    margin-right: 32px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 118px;
  }

  .u-section-8 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: -229px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 132px;
  }

  .u-section-8 .u-text-1 {
    font-size: 2.25rem;
    margin-bottom: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-text-1 {
    font-size: 1.6875rem;
  }
} .u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 203px;
}

.u-section-9 .u-text-1 {
  margin: 30px 0 0;
}

.u-section-9 .u-text-2 {
  margin: 13px 0 30px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-text-1 {
    width: 611px;
  }

  .u-section-9 .u-text-2 {
    width: 803px;
    margin-left: 69px;
    margin-right: 69px;
    margin-bottom: -77px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-text-2 {
    width: 720px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 273px;
  }

  .u-section-9 .u-text-1 {
    width: 540px;
  }

  .u-section-9 .u-text-2 {
    width: 540px;
    margin-bottom: -28px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 331px;
  }

  .u-section-9 .u-text-1 {
    width: 340px;
  }

  .u-section-9 .u-text-2 {
    width: 340px;
    margin-bottom: 30px;
  }
} .u-section-10 {
  background-image: none;
}

.u-section-10 .u-sheet-1 {
  min-height: 132px;
}

.u-section-10 .u-btn-1 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  border-style: solid;
  margin: 30px auto;
  padding: 19px 31px 20px 29px;
}

@media (max-width: 1199px) {
  .u-section-10 .u-btn-1 {
    margin-top: 32px;
    margin-bottom: 28px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 133px;
  }

  .u-section-10 .u-btn-1 {
    font-size: 1rem;
    margin-bottom: 32px;
    padding-right: 14px;
    padding-bottom: 21px;
    padding-left: 13px;
  }
}/* Apply custom styles to the selected text */
::selection {
    background: #e8f24c; /* Phosphorescent yellow-green highlight color */
    color: #000; /* Text color when highlighted */
}
/* Apply the same styles for Firefox */
::-moz-selection {
    background: #e8f24c; /* Phosphorescent yellow-green highlight color */
    color: #000; /* Text color when highlighted */
} 